<div class="page">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h2 class="section-header" data-translate="Events"></h2>
        </div>
        <div class="col-md-12">

            <div class="ui-timline-container">
                <section class="ui-timeline">
                      <article class="tl-item" ng-class="$even ? 'alt' :'' " ng-repeat="item in items">
                        <div class="tl-body">
                            <div class="tl-entry">
                                <div class="tl-time">{{item.time | timeago}}</div>
                                <ng-include src="'/views/events/' + item.type +'.html'"></ng-include>
                            </div>
                        </div>
                    </article>
                </section>
            </div>
        </div>
    </div>
</div>

<div style="text-align:center;margin:20px" ng-if="page < pageCount">
    <div class="btn btn-default" ng-click="get()" data-translate="More"></div>
</div>
