<div class="nav-wrapper">
<ul id="nav" class="nav" data-slim-scroll data-collapse-nav="" data-highlight-active="">

    <li   class=" nav-title"> <span  data-translate="Events" class=""></span> </li>
   <li   class="">
        <a class="md-button  md-ink-ripple"   md-button="" aria-label="meanu" href="/events"> <i  class="zmdi zmdi-view-agenda"></i> <span data-translate="Events" class=""></span>
            <div class="md-ripple-container"></div>
        </a>
    </li>
    <li   class=" nav-divider"> </li>
    <li   class=" nav-title"> <span  data-translate="Commutation" class=""></span> </li>
    <li   class="" ng-if="user.is_admin">
        <a class="md-button  md-ink-ripple"   md-button="" aria-label="meanu" href="/points"> <i  class="zmdi zmdi-dot-circle-alt"></i> <span data-translate="Points" class=""></span>
            <div class="md-ripple-container"></div>
        </a>
    </li>
    <li   class="">
        <a class="md-button  md-ink-ripple"   md-button="" aria-label="meanu" href="/routes"> <i  class="zmdi zmdi-arrow-split"></i> <span data-translate="Routes" class=""></span>
            <div class="md-ripple-container"></div>
        </a>
    </li>
    <li   class=" nav-divider" ng-if="user.is_admin"> </li>
    <li   class=" nav-title" ng-if="user.is_admin"> <span  data-translate="User managments" class=""></span> </li>
    <li   class="" ng-if="user.is_admin">
        <a class="md-button  md-ink-ripple"   md-button="" aria-label="meanu" href="/users"> <i  class="zmdi zmdi-account"></i> <span data-translate="Users" class=""></span>
            <div class="md-ripple-container"></div>
        </a>
    </li>
    <li class=" nav-divider" ng-if="user.is_admin"></li>
    <li class=" nav-title" ng-if="user.is_admin">
        <span  data-translate="Configuration" class=""></span>
    </li>
    <li class="" ng-if="user.is_admin">
        <a class="md-button  md-ink-ripple" md-button="" aria-label="meanu" href="/configuration/service">
            <i  class="zmdi zmdi-play-circle"></i>
            <span data-translate="Service" class=""></span>
            <div class="md-ripple-container"></div>
        </a>
    </li>
    <li class="" ng-if="user.is_admin">
        <a class="md-button  md-ink-ripple" md-button="" aria-label="meanu" href="/configuration/network">
            <i  class="zmdi zmdi-network"></i>
            <span data-translate="Network" class=""></span>
            <div class="md-ripple-container"></div>
        </a>
    </li>
     <li class="" ng-if="user.is_admin">
        <a class="md-button  md-ink-ripple" md-button="" aria-label="meanu" href="/configuration/mixer">
            <i  class="zmdi zmdi-equalizer"></i>
            <span data-translate="Mixer" class=""></span>
            <div class="md-ripple-container"></div>
        </a>
    </li>
    </ul>
</div>