[rtp]
download_ptime=0
audio_rtp_port=7078
video_rtp_port=9078
audio_jitt_comp=60
video_jitt_comp=60
nortp_timeout=30
audio_adaptive_jitt_comp_enabled=1
video_adaptive_jitt_comp_enabled=1

[sip]
media_encryption=none
guess_hostname=1
contact=sip:1001@192.168.0.50:5060
inc_timeout=30
in_call_timeout=0
delayed_timeout=4
use_ipv6=0
#register_only_when_network_is_up=1
#register_only_when_upnp_is_ok=1
default_proxy=0
register_only_when_network_is_up=1
register_only_when_upnp_is_ok=1

[video]
display=0
capture=0
show_local=0
size=cif

[net]
download_bw=0
upload_bw=0
mtu=1300

[sound]
remote_ring=/usr/share/sounds/linphone/ringback.wav
playback_gain_db=0.000000
mic_gain_db=0.000000

[audio_codec_0]
mime=opus
rate=48000
channels=1
enabled=1

[audio_codec_1]
mime=speex
rate=16000
channels=1
enabled=1

[audio_codec_2]
mime=speex
rate=8000
channels=1
enabled=1

[audio_codec_3]
mime=PCMU
rate=8000
channels=1
enabled=1

[audio_codec_4]
mime=PCMA
rate=8000
channels=1
enabled=1

[audio_codec_5]
mime=AAL2-G726-40
rate=8000
channels=1
enabled=0

[audio_codec_6]
mime=AAL2-G726-32
rate=8000
channels=1
enabled=0

[audio_codec_7]
mime=AAL2-G726-24
rate=8000
channels=1
enabled=0

[audio_codec_8]
mime=AAL2-G726-16
rate=8000
channels=1
enabled=0

[audio_codec_9]
mime=G726-40
rate=8000
channels=1
enabled=0

[audio_codec_10]
mime=speex
rate=32000
channels=1
enabled=0

[audio_codec_11]
mime=G726-32
rate=8000
channels=1
enabled=0

[audio_codec_12]
mime=G726-24
rate=8000
channels=1
enabled=0

[audio_codec_13]
mime=G726-16
rate=8000
channels=1
enabled=0

[audio_codec_14]
mime=L16
rate=44100
channels=1
enabled=0

[audio_codec_15]
mime=L16
rate=44100
channels=2
enabled=0

[audio_codec_16]
mime=G722
rate=8000
channels=1
enabled=0

[video_codec_0]
mime=VP8
rate=90000
enabled=1

[video_codec_1]
mime=MP4V-ES
rate=90000
enabled=1
recv_fmtp=profile-level-id=3

[video_codec_2]
mime=H263-1998
rate=90000
enabled=0
recv_fmtp=CIF=1;QCIF=1

[video_codec_3]
mime=theora
rate=90000
enabled=0

[video_codec_4]
mime=H263
rate=90000
enabled=0

[auth_info_0]
username=test
passwd=asd
realm="asterisk"

[auth_info_1]
passwd=3be8848500ef9e1b692d7db194d6b4e3

[auth_info_2]
username=1001
passwd=3be8848500ef9e1b692d7db194d6b4e3

[proxy_0]
reg_proxy=<sip:192.168.0.50:5060>
reg_identity=sip:1001@192.168.0.50:5060
reg_expires=3600
reg_sendregister=1
publish=0
dial_escape_plus=0

[call_log_0]
dir=1
status=2
from="Alena" <sip:204@192.168.0.50>
to=<sip:1001@192.168.0.59;line=7874b872b9937d5>
start_date_time=1423074474
duration=13
quality=-1.000000
video_enabled=0
call_id=55a57c0a-ac5c-4b90-8a48-d4a17316aa60

