<div class="row">
  <div class="col-md-6">
    <md-input-container class="md-block">
      <label data-translate="IP"></label>
      <input required
             type="text"
             autocomplete="off"
             ng-model="current.ip"
             />
    </md-input-container>
  </div>
  <div class="col-md-6">
    <md-input-container class="md-block">
      <label data-translate="Mask"></label>
      <input required
             type="text"
             autocomplete="off"
             ng-model="current.mask"
             />
    </md-input-container>
  </div>
</div>
