<div class="row">
  <div class="col-md-6">
    <md-input-container class="md-block">
      <label data-translate="IP"></label>
      <input required
             type="text"
             autocomplete="off"
             ng-model="current.ip"
             />
    </md-input-container>
  </div>
  <div class="col-md-6">
    <md-input-container class="md-block">
      <label data-translate="Mask"></label>
      <input required
             type="text"
             autocomplete="off"
             ng-model="current.mask"
             />
    </md-input-container>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <md-input-container class="md-block">
      <label data-translate="Gateway"></label>
      <input required
             type="text"
             autocomplete="off"
             ng-model="current.gateway"
             />
    </md-input-container>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <md-input-container class="md-block">
      <label data-translate="DNS Primary"></label>
      <input required
             type="text"
             autocomplete="off"
             ng-model="current.dns_primary"
             />
    </md-input-container>
  </div>
  <div class="col-md-6">
    <md-input-container class="md-block">
      <label data-translate="DNS Secondary"></label>
      <input required
             type="text"
             autocomplete="off"
             ng-model="current.dns_secondary"
             />
    </md-input-container>
  </div>
</div>
