<div class="row">
  <div class="col-md-8">
    <md-input-container class="md-block">
      <label data-translate="Address"></label>
      <input required
             type="text"
             autocomplete="off"
             ng-model="current.configuration.address"
             />
    </md-input-container>
  </div>
  <div class="col-md-4">
    <md-input-container class="md-block">
      <label data-translate="Port"></label>
      <input required
             type="text"
             autocomplete="off"
             ng-model="current.configuration.port"
             />
    </md-input-container>
  </div>
</div>
