<div class="row">
  <div class="col-md-4">
    <md-input-container class="md-block">
      <label data-translate="Device Index"></label>
      <input required
             type="text"
             autocomplete="off"
             ng-model="current.configuration.device_index"
             />
    </md-input-container>
  </div>
  <div class="col-md-8">
    <md-input-container class="md-block">
      <label data-translate="ID"></label>
      <input required
             type="text"
             autocomplete="off"
             ng-model="current.configuration.id"
             />
    </md-input-container>
  </div>
</div>
<md-input-container class="md-block">
  <label data-translate="Password"></label>
  <input required
         type="text"
         autocomplete="off"
         ng-model="current.configuration.password"
         />
</md-input-container>



