<div class="row">
  <div class="col-md-6">
    <md-input-container class="md-block">
      <label data-translate="Host"></label>
      <input required
             type="text"
             autocomplete="off"
             ng-model="current.configuration.host"
             />
    </md-input-container>
  </div>
  <div class="col-md-6">
    <md-input-container class="md-block">
      <label data-translate="Port"></label>
      <input required
             type="text"
             autocomplete="off"
             ng-model="current.configuration.port"
             />
    </md-input-container>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <md-input-container class="md-block">
      <label data-translate="Username"></label>
      <input required
             type="text"
             autocomplete="off"
             ng-model="current.configuration.username"
             />
    </md-input-container>
  </div>
  <div class="col-md-6">
    <md-input-container class="md-block">
      <label data-translate="Authorization Username"></label>
      <input required
             type="text"
             autocomplete="off"
             ng-model="current.configuration.authorization_username"
             />
    </md-input-container>
  </div>
</div>
<md-input-container class="md-block">
  <label data-translate="Password"></label>
  <input required
         type="text"
         autocomplete="off"
         ng-model="current.configuration.password"
         />
</md-input-container>



