<div class="row">
   <div class="col-md-12">
    <md-input-container class="md-block">
      <label data-translate="Audio Device Index"></label>
      <input required
             type="text"
             autocomplete="off"
             ng-model="current.configuration.device_index"
             />
    </md-input-container>
  </div>

  <div class="col-md-8">
    <md-input-container class="md-block">
      <label data-translate="Address"></label>
      <input required
             type="text"
             autocomplete="off"
             ng-model="current.configuration.address"
             />
    </md-input-container>
  </div>
  <div class="col-md-4">
    <md-input-container class="md-block">
      <label data-translate="Port"></label>
      <input required
             type="text"
             autocomplete="off"
             ng-model="current.configuration.port"
             />
    </md-input-container>
  </div>
  <div class="col-md-12"><h5>Phone mode interruption</h5></div>
  <div class="col-md-8" ng-init="current.configuration.phone_mode = current.configuration.phone_mode || {code:'##', duration:2000}">
    <md-input-container class="md-block">
      <label data-translate="Code(DTMF)"></label>
      <input required
             type="text"
             autocomplete="off"
             ng-model="current.configuration.phone_mode.code"
             />
    </md-input-container>
  </div>
  <div class="col-md-4">
    <md-input-container class="md-block">
      <label data-translate="Duration(ms)"></label>
      <input required
             type="text"
             autocomplete="off"
             ng-model="current.configuration.phone_mode.duration"

             />
    </md-input-container>
  </div>
</div>
