<div class="page">
    <div class="row">
        <div class="col-md-10 col-sm-10 col-xs-10">
            <h2 class="section-header" data-translate="Mixer"></h2>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th data-translate="Device Number"></th>
                                <th data-translate="Name"></th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in items">
                                <td>
                                    {{item.device_id}}
                                </td>
                                <td>{{item.name}}</td>
                                <td class="text-right">
                                    <a href="/configuration/mixer/{{item.device_id}}">
                                        <button class="md-icon-button md-button md-ink-ripple">
                                            <span class="fa fa-edit"></span>
                                        </button>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="text-align:center;margin:20px" ng-if="page < pageCount">
    <div class="btn btn-default" ng-click="get()" data-translate="More"></div>
</div>