 <div class="page page-form">
    <div class="row ui-section">
        <div class="col-lg-8 clearfix">
            <h2 class="section-header" data-translate="Mixer: Configuration for "><span>{{current.name}}</span></h2>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body padding-xl form-validation" ng-cloak>
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="form-horizontal form-validation">
                                <div class="panel panel-default" ng-repeat="item in current.controls track by $index">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">{{item.name}}</h3>
                                    </div>
                                    <div class="panel-body" ng-cloak>
                                        <div ng-repeat="control in item.controls track by $index">
                                            <div layout ng-if="control.type == 'percent'">
                                                <div flex="10" layout layout-align="center center">
                                                    <span style="text-transform: capitalize;">{{control.name}}</span>
                                                </div>
                                                <md-slider flex min="0" max="100" ng-model="control.value" aria-label="info" class="md-info" id="info-slider" class></md-slider>
                                                <div flex="20" layout layout-align="center center">
                                                    <input type="number" ng-model="control.value" aria-label="info" aria-controls="info-slider">
                                                </div>
                                            </div>
                                            <div layout ng-if="control.type == 'switch'">
                                                <md-checkbox
                                                    ng-model="control.value"
                                                    aria-label="{{control.name}}"> <span style="text-transform: capitalize;">{{ control.name }}</span> </md-checkbox>
                                            </div>
                                            <div layout ng-if="control.type == 'enum'">
                                            <md-radio-group class="ui-md-radio-group-inline" ng-model="control.value">
                                                    <md-radio-button ng-repeat="variant in control.variants" value="{{variant}}">{{variant}}</md-radio-button>
                                                </md-radio-group>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                 <div class="divider divider-md"></div>
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4">
                                            <md-button type="submit"
                                                       class="md-raised btn-w-md md-primary"
                                                       data-translate="Save"
                                                       ng-click="save()"
                                                       ></md-button>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <md-button class="btn-w-md"
                                                        data-translate="Cancel"
                                                        ng-click="cancel()"></md-button>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>