    <div class="btn-group  m-b-xs">
      <a href="/users/new" ng-show="checkAccess('add_user')"><button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-plus"/> Добавить пользователя</button></a>
    </div>
<div class="panel panel-default">
<div class="panel-heading">Пользователи</div>
<table class="table table-striped m-b-none">
        <thead>
            <tr>
                <th>Имя пользователя</th>
                <th>Настоящее имя</th>
                <th>Последний вход</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tr ng-repeat="item in items">
            <td>{{ item.username }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.last_login }}</td>
            <td class="pull-right">
                <a href="/users/{{item.user_id}}"><button class="btn btn-default"><i style="padding:0.2em" class="glyphicon glyphicon-edit"/></button></a>
            </td>
        </tr>
    </table>
    <div style="text-align:center;margin:20px" ng-if="page < pageCount">
    <div class="btn btn-default" ng-click="get()">More</div>
    </div>
</div>