<div class="page">
    <div class="row ui-section">
        <div class="col-md-10 col-sm-10 col-xs-10">
            <h2 class="section-header" data-translate="Categories"></h2>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2">
            <h2 class="pull-right">
                <a href="/categories/new">
                    <md-button class="md-fab md-primary" aria-label="plus">
                        <span class="fa fa-plus"></span>
                    </md-button>
                </a>
            </h2>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table no-margin">
                        <thead>
                            <tr>
                                <th class="col-md-12" data-translate="Name"></th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in items">
                                <td>{{ item.name }}</td>
                                <td >
                                    <a href="/categories/{{item.category_id}}" class="pull-right">
                                        <md-button class="md-icon-button" aria-label="edit">
                                            <span class="fa fa-edit"><span>
                                        </md-button>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
