<div class="tl-icon btn-icon-round btn-icon btn-icon-thin btn-info">
    <i class="fa fa-phone"></i>
</div>
<div class="tl-content">
    <h4 class="tl-tile text-primary">
        <span>
        	<a href="/points/{{item.route.source_point.point_id}}">{{ item.route.source_point.name }}</a> (<small>{{item.route.source_point.type}}</small>)
        </span>
        <i class="fa fa-arrow-right"></i>
        <span>
        	<a href="/points/{{item.route.destination_point.point_id}}">{{ item.route.destination_point.name }}</a> (<small>{{item.route.destination_point.type}}</small>)
        </span>
    </h4>
    <p><span data-translate="Route"></span>: <a href="/routes/{{item.route.route_id}}">{{ item.route.name}}</a></p>
    <hr/>
	<span ng-repeat="(key, value) in item.source_number" ng-if="value.length > 0" style="font-size:10px;padding-right:10px">
		<span data-translate="{{key}}"></span>: <b>{{value}}</b>
	</span>

</div>