        <div class="form-group">
          <label class="col-md-2 control-label">Address</label>
          <div class="col-md-4">
            <input type="text" class="form-control" placeholder="IP/Hostname" ng-model="current.configuration.address">
	 </div>
          <label class="col-md-1 control-label">Port</label>
          <div class="col-md-2">
            <input type="text" class="form-control" placeholder="Port"  ng-model="current.configuration.port">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label">Authorization Key</label>
          <div class="col-md-4">
            <input type="text" class="form-control" placeholder="Auth key" ng-model="current.configuration.auth_key">
	 </div>
          <label class="col-md-1 control-label">Delta</label>
          <div class="col-md-2">
            <input type="text" class="form-control" placeholder="Delta"  ng-model="current.configuration.delta">
          </div>
        </div>


