<div class="panel panel-default">
    <div class="panel-heading font-bold" ng-show="isNew">Добавление узла</div>
    <div class="panel-heading font-bold" ng-show="!isNew">Редактирование узла</div>
    <div class="panel-body">
      <div class="bs-example form-horizontal">
        <div class="form-group">
          <label class="col-lg-2 control-label">Тип</label>
          <div class="col-lg-10">
            <select ng-options="type.id as type.name for type in types" ng-model="current.type"/>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label">Название</label>
          <div class="col-lg-10">
            <input type="text" class="form-control"  ng-model="current.name">
          </div>
        </div>
	<ng-include ng-if="current.type" src="'/views/points/point.form.' +current.type +'.html'"></ng-include>
        <div class="form-group">
                <div class="col-lg-offset-2 col-lg-6">
                    <button class="btn btn-primary" ng-click="save()" ng-show="(checkAccess('add_user') && !current[pkAttribute]) || (checkAccess('edit_user') && current[pkAttribute])">Сохранить</button>
                    <button class="btn btn-default" ng-click="cancel()">Отмена</button>
                </div>
                <div class=" col-lg-2" ng-show="!current.is_admin && current[pkAttribute] && checkAccess('delete_user')">
                    <button class="btn btn-danger" ng-click="delete()">Удалить</button>
                </div>
            </div>
        </div>
    </div>
</div>
