<div class="page page-form">
    <div class="row ui-section">
        <div class="col-lg-8 clearfix">
            <h2 class="section-header" ng-if="isNew" data-translate="Пользователи: cоздание"></h2>
            <h2 class="section-header" ng-if="!isNew" data-translate="Пользователи: редактирование"></h2>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body padding-xl form-validation" ng-cloak>
                    <div class="row">
                        <div class="col-lg-6 col-lg-offset-3">
                            <div class="form-horizontal form-validation">
                                    <label data-translate="Username"></label>
                                    <div>{{current.username}}</div>
                                    <md-input-container class="md-block">
                                        <label data-translate="Password"></label>
                                        <input required
                                               type="password"
                                               autocomplete="off"
                                               ng-model="current.password"
                                               />
                                    </md-input-container>
                                    <md-input-container class="md-block">
                                        <label data-translate="Name"></label>
                                        <input required
                                               type="text"
                                               ng-model="current.name"
                                               />
                                    </md-input-container>
                                    <md-input-container class="md-block">
                                            <label data-translate="Description"></label>
                                            <textarea ng-model="current.description" columns="1"></textarea>
                                    </md-input-container>

                                    <div class="divider divider-md"></div>

                                    <div class="row">
                                        <div class="col-md-4 col-sm-4">
                                            <md-button type="submit"
                                                       class="md-raised btn-w-md md-primary"
                                                       data-translate="Save"
                                                       ng-click="save()"
                                                       ></md-button>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <md-button class="btn-w-md"
                                                        data-translate="Cancel"
                                                        ng-click="cancel()"></md-button>
                                        </div>
                                    </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
