<div class="page">
    <div class="row">
        <div class="col-md-10 col-sm-10 col-xs-10">
            <h2 class="section-header" data-translate="Users"></h2>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2">
            <h2 class="pull-right">
                <a href="/users/new">
                    <md-button class="md-fab md-primary" aria-label="plus">
                        <span class="fa fa-plus"></span>
                    </md-button>
                </a>
            </h2>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3 col-sm-6 post-item" ng-repeat="item in items">
                    <ng-include src="'/views/users/user.item.html'"></ng-include>
                </div>
            </div>
        </div>
    </div>
</div>
