<div class="page page-form">
    <div class="row ui-section">
        <div class="col-lg-8 clearfix">
            <h2 class="section-header" ng-if="isNew" data-translate="Пользователи: cоздание"></h2>
            <h2 class="section-header" ng-if="!isNew" data-translate="Пользователи: редактирование"></h2>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body padding-xl form-validation" ng-cloak>
                    <div class="row">
                        <div class="col-lg-6 col-lg-offset-3">
                            <div class="form-horizontal form-validation">
                                    <md-input-container class="md-block">
                                        <label data-translate="Имя пользователя"></label>
                                        <input required
                                               type="text"
                                               autocomplete="off"
                                               ng-model="current.username"
                                               />
                                    </md-input-container>
                                    <md-input-container class="md-block">
                                        <label data-translate="Пароль"></label>
                                        <input required
                                               type="password"
                                               autocomplete="off"
                                               ng-model="current.password"
                                               />
                                    </md-input-container>
                                    <md-input-container class="md-block">
                                        <label data-translate="Реальное имя"></label>
                                        <input required
                                               type="text"
                                               ng-model="current.name"
                                               />
                                    </md-input-container>
                                    <md-input-container class="md-block">
                                            <label data-translate="Описание"></label>
                                            <textarea ng-model="current.description" columns="1"></textarea>
                                    </md-input-container>
                                    <div class="callout callout-info">
                                      <span data-translate="Последняя активность"></span>:
                                      <span class="md-checked ng-binding">
                                        {{current.last_user_actitity_time}}
                                      </span>
                                    </div>

                                    <div class="divider divider-md"></div>

                                    <div class="row">
                                        <div class="col-md-4 col-sm-4">
                                            <md-button type="submit"
                                                       class="md-raised btn-w-md md-primary"
                                                       data-translate="Сохранить"
                                                       ng-click="save()"
                                                       ></md-button>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <md-button class="btn-w-md"
                                                        data-translate="Отмена"
                                                        ng-click="cancel()"></md-button>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <md-button
                                                        ng-if="current[pkAttribute]"
                                                        class="pull-right md-raised md-warn btn-w-md"
                                                        data-translate="Удалить"
                                                        ng-click="delete()"></md-button>
                                        </div>
                                    </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
