<div class="card bg-white">
    <div class="card-image">
        <a href="/users/{{item.user_id}}">
           <img ng-if="item.cover" src="/upload/{{item.cover}}"/>
           <img ng-if="!item.cover" src="/images/no-avatar.png"/>
        </a>
        <span class="card-title">{{item.name}}</span>
    </div>
    <div class="card-content">
        <div><i class="zmdi zmdi-account"></i> Head of IT department</div>
        <div><i class="zmdi zmdi-account-circle"></i> Administrator</div>
    </div>
    <div class="card-action row">
        <div class="col-lg-6 col-md-6">
            <a href="/users/{{item.user_id}}" data-translate="VIEW" class="color-primary"></a>
        </div>
    </div>
</div>