<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="MyApp" class="no-js"> <!--<![endif]-->
<head>
  <style>
    .logo svg {
      fill:black !important;
    }
  </style>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Iceberg</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css" type="text/css" />
  <link rel="stylesheet" href="/bower_components/simple-line-icons/css/simple-line-icons.css" type="text/css" />
  <link rel="stylesheet" href="/bower_components/angular-growl-v2/build/angular-growl.css" type="text/css" />
  <link rel="stylesheet" href="/css/app.css">
  <link rel="stylesheet" href="/css/font.css">
</head>
<body>
<div class="container w-xxl w-auto-xs" ng-controller="AuthCtrl">
  <div class="m-b-lg">
    <div class="wrapper text-center">
        <a href="#/" class="navbar-brand text-lt">
            <span class="hidden-folded m-l-xs">Commutator</span>
        </a>
    </div>
    <div style="text-align:center">Система управления<br/>комплексом маршрутизации голосовых вызовов</div>
    <br/>
    <form name="form" class="form-validation">
      <div class="text-danger wrapper text-center" ng-show="authError">
          {{error}}
      </div>
      <div class="list-group list-group-sm">
        <div class="list-group-item">
          <input type="text" placeholder="Имя пользователя" class="form-control no-border" ng-model="credentials.username" required>
        </div>
        <div class="list-group-item">
           <input type="password" placeholder="Пароль" class="form-control no-border" ng-model="credentials.password" required>
        </div>
      </div>
      <button type="submit" class="btn btn-lg btn-primary btn-block" ng-click="login()">Войти</button>
    </form>
  </div>
  <footer id="footer" class="app-footer" role="footer">
      <div class="wrapper b-t bg-light">
    <span class="pull-right">0.0.1 <a href="" ui-scroll="app" class="m-l-sm text-muted"><i class="fa fa-long-arrow-up"></i></a></span>
    ОТР © 2015 Все права защищены.
  </div>
</footer>
</div>

  <script src="/bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
  <script src="/bower_components/moment/moment.js"></script>
  <script src="/bower_components/jquery/dist/jquery.js"></script>
  <script src="/bower_components/jquery-ui/ui/jquery-ui.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="/bower_components/angular/angular.js"></script>

  <script src="/bower_components/angular-bootstrap/ui-bootstrap.js"></script>
  <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="/bower_components/angular-route/angular-route.js"></script>
  <script src="/bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
  <script src="/bower_components/angular-growl-v2/build/angular-growl.js"></script>
  <script src="/services/AuthService.js"></script>
  <script src="/controllers/auth.js"></script>

  <script>
  angular.module('myApp.Auth', []).controller('AuthCtrl', AuthCtrl);

angular
.module('MyApp', [
  'ui.bootstrap',
  'angular-growl',
  'LocalStorageModule',
  'ngRoute',
  'myApp.Auth'
])
.service('auth', AuthService)
.config(function($httpProvider) {
  $httpProvider.defaults.headers.common["X-Requested-With"] = 'XMLHttpRequest';
  var interceptor = ['$rootScope', '$q', 'growl','$location', function (scope, $q, growl, $location) {

      function success(response) {
          return response;
      }

      function error(response) {
          var status = response.status;
          if (status == 401 || status == 403) {
            if ($location.path() != '/login') {
              $location.path('/login');
            }
          }

          var k = "<b>" + response.statusText+'</b>';
          if (response.status == 422) {
              k +='<ul>';
              for (var i in response.data) {
                  k+='<li>' + response.data[i].message + '</li>';
              }
              k+='</ul>';
          }
          growl.error(k);
          return;
      }

      return function (promise) {
          return promise.then(success, error);
      }

  }];

$httpProvider.responseInterceptors.push(interceptor);
}).config(['$locationProvider',function($locationProvider){
    $locationProvider.html5Mode(true);
}]).config(['$routeProvider', function($routeProvider) {
  $routeProvider
  .when('/login',
  {
    controller: 'AuthCtrl'
  });
}]);
  </script>
</body>
