<div class="page">
    <div class="row">
        <div class="col-md-10 col-sm-10 col-xs-10">
            <h2 class="section-header" data-translate="Routes"></h2>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2">
            <h2 class="pull-right">
                <a href="/routes/new">
                    <md-button class="md-fab md-primary" aria-label="plus">
                        <span class="fa fa-plus"></span>
                    </md-button>
                </a>
            </h2>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
        		<div class="panel-body">
        			<table class="table no-margin">
        			    <thead>
        				    <tr>
                                <th data-translate="Source"></th>
                                <th data-translate="Target"></th>
                                <th>&nbsp;</th>
                            </tr>
        			    </thead>
        			    <tbody>
            				<tr ng-repeat="item in items">
            				    <td>{{item.source_point.name}}: {{item.source_number}}</td>
            				    <td>{{item.destination_point.name}}: {{item.destination_number}}</td>
            				    <td class="text-right">
                                    <a href="/routes/{{item.route_id}}">
                                        <button class="md-icon-button md-button md-ink-ripple">
                                            <span class="fa fa-edit"></span>
                                        </button>
                                    </a>
                                </td>
            				</tr>
        			    </tbody>
        			</table>
        		</div>
    	    </div>
	    </div>
    </div>
</div>

<div style="text-align:center;margin:20px" ng-if="page < pageCount">
    <div class="btn btn-default" ng-click="get()" data-translate="More"></div>
</div>