<div>
  <label data-translate="From" ng-init="current.source_number.from = current.source_number.from || []"></label>
  <md-chips  ng-model="current.source_number.from" md-enable-chip-edit="true" md-on-remove="removeSourceMask($chip)" md-transform-chip="addSourceMask($chip)">
    <md-chip-template ng-style="$chip.id && {'font-weight':'bold'}">
      <span ng-if="$chip.id">
        {{$chip.value}}<sup>{{$chip.id}}</sup>
      </span>
      <span ng-if="!$chip.id">
        {{$chip.value}}
      </span>
  </md-chips>
</div>
<br/>
<div>
  <label data-translate="To" ng-init="current.source_number.to = current.source_number.to || []"></label>
  <md-chips ng-model="current.source_number.to" md-enable-chip-edit="true" md-on-remove="removeSourceMask($chip)" md-transform-chip="addSourceMask($chip)">
    <md-chip-template ng-style="$chip.id && {'font-weight':'bold'}">
      <span ng-if="$chip.id">
        {{$chip.value}}<sup>{{$chip.id}}</sup>
      </span>
      <span ng-if="!$chip.id">
        {{$chip.value}}
      </span>
  </md-chips>
</div>
